#erro{
	display: none;
}

#deletar{
	cursor: pointer;
}

textarea, .resposta {
	overflow: auto;
	height: 150px;
	width: 350px;
}


#resposta1{
	background-color: #E8E8E8;
}
#resposta0{
	background-color: #F5F5F5;
}


#tabela_categorias #descricao{width: 200px;}
#tabela_categorias .center{align:"center";}