<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tabs Easy front-end framework</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../css/easy.css" media="screen" />
<link rel="stylesheet" href="../css/easyprint.css" media="print" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/easy.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

<style>

/* Copy this CSS code into your stylesheet and modify accordingly  */

</style>

</head>
<body>
<div id="container">
	
	<div id="header">
		
		<h1>Easy front-end framework</h1>
		
		<ul id="nav">
			<li><a href="http://easyframework.com">Home</a></li>
			<li><a href="http://easyframework.com/overview.php">Overview</a>
				<ul>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>	
				</ul>
			</li>
			<li><a href="http://easyframework.com/documentation.php">Documentation</a>
				<ul>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>
					<li><a href="#">Sub-navigation item</a></li>	
				</ul>			
			</li>
			<li><a href="http://easyframework.com/demo.php">Demo</a></li>
			<li><a href="http://easyframework.com/contact.php">Contact</a></li>
		</ul>

	</div>

	<div class="content">
    
   	  <h1>Accordion Demo</h1>
      
      <!-- ACCORDION START -->
      
      <ul class="accordion">
          <li>
            <h3>Lorem ipsum 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis dui nec eros varius 
                ac molestie ante malesuada. Duis sed justo et sem hendrerit suscipit et ac eros. </p>
          </li>
          <li>
            <h3>Lorem ipsum 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis dui nec eros varius 
                ac molestie ante malesuada. Duis sed justo et sem hendrerit suscipit et ac eros. </p>
          </li>
          <li>
            <h3>Lorem ipsum 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis dui nec eros varius 
                ac molestie ante malesuada. Duis sed justo et sem hendrerit suscipit et ac eros. </p>
          </li>
          <li>
            <h3>Lorem ipsum 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis dui nec eros varius 
                ac molestie ante malesuada. Duis sed justo et sem hendrerit suscipit et ac eros. </p>
          </li>
          <li>
            <h3>Lorem ipsum 5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis dui nec eros varius 
                ac molestie ante malesuada. Duis sed justo et sem hendrerit suscipit et ac eros. </p>
          </li>
      </ul>
      
      <!-- ACCORDION END -->
      
	</div>
	
	<div id="footer">
		<p>&copy; Alen Grakalic Easy front-end framework (Read <a href="http://easyframework.com/license.php">license agreement</a>)<br/>
		Made with <a href="http://easyframework.com">Easy</a></p>
	</div>
	
</div>
</body>
</html>